<div class="introduction">
  <h2>Sign up</h2>
  <p>We need your email and username to be able to set up your profile which will be avaible to your followers.</p>
</div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="field">
    <%= f.label :username, "*Username:" %>
    <%= f.text_field :username, minlength: 6, maxlength: 20, autofocus: true, autocomplete: "username", placeholder: "Bob the Builder", required: true %>
  </div>
  <div class="field">
    <%= f.label :email, "*Email: " %>
    <%= f.email_field :email, autocomplete: "email", placeholder: "bob@example.com",required: true %>
  </div>
  <div class="field">
    <%= f.label :password, "*Password: " %>
    <%= f.password_field :password,  minlength: 6, maxlength: 30 , autocomplete: "new-password", required: true, placeholder: "At least 6 characters." %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "*Password confirmation: " %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", required: true %>
  </div>
  <div class="actions">
    <%= f.submit "Create Account", class: "create_user" %>
  </div>
<% end %>
<div class="links">
  <p> Alredy have an account? </p>
  <%= render "devise/shared/links" %>
</div>
