<%= form_with model: @comment do |comment_form| %>
  <%= comment_form.hidden_field :post_id, value: @post_id %>
  <div>
    <%= comment_form.label :content %>
    <%= comment_form.text_area :content, placehoder: "Please enter what your think about this post", autofocus: true %>
  </div>
  <div>
    <%=comment_form.submit "Edit comment."%>
  </div>
<% end %>
