<div class="introduction">
  <h2>Log in</h2>
  <p>Welcome back, we hope you have pleasure chating.</p>
</div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>
  <div class="actions">
    <%= f.submit "Log in", class: "create_user" %>
  </div>
  <% if devise_mapping.rememberable? %>
    <div class="remember">
      <%= f.label :remember_me %>
      <%= f.check_box :remember_me %>
    </div>
  <% end %>
<% end %>
<div class="links">
  <p>
    Don't have account or forgot password ?
  </p>
  <%= render "devise/shared/links" %>
</div>