<div class="intoduction">
  <h2>Log in</h2>
  <p>Welcome back, we hope you have pleasure chating.</p>
</div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="fields_basic">
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  </div>
  <div class="fields_password">
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>
    <% if devise_mapping.rememberable? %>
      <div class="remember">
        <%= f.label :remember_me %>
        <%= f.check_box :remember_me %>
      </div>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>
<div class="links">
  <p>
    Don't have account or forgot password ?
  </p>
  <%= render "devise/shared/links" %>
</div>