<% if post.errors.any? then %>
  <div class="errors">
    <h2>There were some errors with the posts: </h2>
    <ol style="color: red">
      <% post.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ol>
  </div>
<% end %>
<%= form_with model: post, class: "post_form" do |f| %>
  <%= f.label :title, "Title:" %>
  <%= f.text_field :title, autofocus: true, placeholder: "Please enter title here."%>
  <%= f.label :body, "Content:" %>
  <%= f.text_area :body, placeholder: "Please enter body of post here."%>
  <div>
    <%= f.submit %>
  </div>
<% end %>
