<h1>
  <%= post.title %>
  <div>
    Likes: <%= post.likes.count %>
  </div>
</h1>
<p>
  <%= post.body %>
</p>
<%= link_to "Check out this post", post %>
<%= link_to "Like this post", likes_path(post_id: post.id), data: { turbo_method: :post } %>
<%= link_to "Unlike this post", like_path(id: post.id), data: { turbo_method: :delete } %>
<% if current_user == post.author then %>
  <%= link_to "Destroy this post.", post_path(post), data: { turbo_method: :delete }%>
  <%= link_to "Edit this post.", edit_post_path(post)%>
<% end %>
