<div class="post">
  <div class="basic_info">
    <h3 class="link_profile"><%= link_to "@#{post.author.username}", post.author%></h3>
    <h3>
      Title: <%= post.title %>
    </h3>
    <p class="content">
      <%= post.body %>
    </p>
    <div class="comments">
      <% post.comments.each do |comment| %>
        <div class="comment">
          <div>
            <h3 class="link_profile"><%= link_to "@#{comment.author.username}", post.author%></h3>
          </div>
          <div>
            <h4><%= comment.content %></h4>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <ul class="navigation">
    <div>
      Likes: <%= post.likes.count %>
    </div>
    <li><%= link_to "Post", post %></li>
    <li><%= link_to "Like", likes_path(post_id: post.id), data: { turbo_method: :post } %></li>
    <li><%= link_to "Unlike", like_path(id: post.id), data: { turbo_method: :delete } %></li>
    <% if current_user == post.author then %>
      <li><%= link_to "Delete", post_path(post), data: { turbo_method: :delete }%></li>
      <li><%= link_to "Edit", edit_post_path(post)%></li>
    <% end %>
    <%= form_with model: @comment, class: "comment_form" do |comment_form| %>
      <%= comment_form.hidden_field :post_id, value: post.id %>
      <div>
        <%= comment_form.text_area :content, placehoder: "Please enter what your think about this post", autofocus: true, placehoder: "Enter comment here.", class: "comment_field" %>
      </div>
      <div>
        <%= comment_form.submit "Comment" %>
      </div>
    <% end %>
  </ul>
</div>
