<div class="post">
  <div>
    <h3>
      Author: <%= post.author.username %>
    </h3>
    <h3>
      Title: <%= post.title %>
    </h3>
    <div>
      Likes: <%= post.likes.count %>
    </div>
    <h4>Content of post:</h4>
    <p class="content">
      <%= post.body %>
    </p>
  </div>
  <div>
    <ul class="navigation">
      <li><%= link_to "Post", post %></li>
      <li><%= link_to "Like", likes_path(post_id: post.id), data: { turbo_method: :post } %></li>
      <li><%= link_to "Unlike", like_path(id: post.id), data: { turbo_method: :delete } %></li>
      <% if current_user == post.author then %>
        <li><%= link_to "Delete", post_path(post), data: { turbo_method: :delete }%></li>
        <li><%= link_to "Edit", edit_post_path(post)%></li>
      <% end %>
    </ul>
  </div>
</div>
