<%= render @post %>
<br>
<div class="comments">
  <% @comments.each do |comment| %>
    <div class="comment">
      <div>
        <h3>Author: <%= comment.author.username%></h3>
      </div>
      <div>
        <h4>Commented: <%= comment.content %></h4>
        <% if current_user == comment.author then%>
          <ul class="navigation">
            <li><%= link_to "Edit your comment", edit_comment_path(comment, post_id: @post.id)%></li>
            <li><%= link_to "Delete comment", comment_path(comment: comment), data: {turbo_method: :delete}%></li>
          </ul>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<%= form_with model: @comment, class: "comment_form" do |comment_form| %>
  <%= comment_form.hidden_field :post_id, value: @post.id %>
  <div>
    <%= comment_form.text_area :content, placehoder: "Please enter what your think about this post", autofocus: true, placehoder: "Enter comment here." %>
  </div>
  <div>
    <%=comment_form.submit "Comment"%>
  </div>
<% end %>
