<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'signup', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="devise">
    <div class="image_sidebar">
      <%# <%= image_tag 'nature.jpg', alt: 'Nature foto, image sidebar', class: ' image-sidebar' %>
      <%# <%= image_tag 'nature.jpg', alt: 'Instachat Logo', class: 'logo' %>
      <div class="title">
        <h1>
          Instachat
        </h1>
      </div>
      <p class="shoutout">
        Photo by: <a href="https://unsplash.com/@zorzf?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Zo Razafindramamba</a> on <a href="https://unsplash.com/photos/the-sun-is-setting-over-a-mountain-range-LquOEvDfYGo?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
      </p>
    </div>
    <main class="devise_main">
      <%= yield %>
    </main>
  </body>
</html>